body {
    margin: 0px;
    padding: 0;
}

.search {
    border-radius: 0;
    font-size: 0.8em;
}

.btn-outline-dark {
    font-size: 0.8em;
    border-radius: 0;
}


.navbar {
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255);
    opacity: 60%;
    width: 100%;
    padding: 0.2% 5%;
}


.container-fluid {
    padding: 0;
    margin: 0;
}


.headimg {
    position: relative;
    width: 100vw;
    height: 100vh;
}



.logo img {
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20%;
    z-index: 10;
}


.lines {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: white;
    text-align: center;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 3%;
}


.quote {
    color: #3152bf;
    font-weight: lighter;
    text-align: center;
    margin: 3% 0;
    width: 100%;
}

.quote span {
    font-weight: normal;
    font-size: 2em;
}


.card {
    border-radius: 0%;
    border: 1px solid lightgray;
}


.image-container {
    position: relative;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: lighter;
}

.image-container:hover .image-overlay {
    opacity: 1;
}


@media screen and (max-width: 768px) {
    .title {
        font-size: 1.5em; 
    }
    .sub-title {
        font-size: 0.7em;
    }
    .lines {
        display: none;
    }

    .logo img {
        top: 10%;
        left: 40%;
    }
}



@media screen and (max-width: 1024px) {
    .title {
        font-size: 2.5em; 
    }
    .lines {
        padding: 5px; 
        top: 37%;
        left: 50%;
    }

    .logo img {
        top: 10%;
        left: 40%;
    }
}


.sunglasses {
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.sunimg {
    max-width: 100%;
    padding: 0; 
}

.suntext {
    background-color: #443580;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: lighter;
}

.suntext1 {
    font-size: 3em;
    margin-bottom: 2em;
}


.suntext a {
    text-decoration: none;
    color: white;
}


footer {
    border-top: 1px solid lightgrey;
    font-size: 14px;
  }
  .first-line {
    color: black;
    border-bottom: 1px solid lightgrey;
  }
  .second-line a {
    color: black;
    text-decoration: none;
  }
  .flag {
    color: black;
  }

  .mobile-footer {
    border-top: 1px solid lightgrey;
    color: black;
    text-align: center;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    display: none;
  }


  @media screen and (max-width: 48rem) {
  .second-line {
    padding: 0 2rem;
  }

  .flag {
    display: none;
  }

  .first-line {
    text-align: center;
  }

  .mobile-footer {
    display: block;
  }
}
.col {
  padding-bottom: 1rem;
}
.flag-img {
  margin: 0 0.5rem;
}